{% extends "logbook/layout.html" %}
{% load static %}

{% block title%}Add new entries{% endblock %}

{% block body %}

    <div id="map" class="mapa">
    </div>
    <div id="searchboxDiv">
    <input id="pac-input" type="text" placeholder="Search For Your Dive Site or Click on the Map"/>
    </div>

    <form method="POST" action="{% url 'add' %}">
    {% csrf_token %}
    {{ form }}
    <button type="submit" id="addBtn" hidden>Add</button>
    </form>
    <div>
        {% if logbook %}
        <table>
            <tr>
                <th>Date</th>
                <th>Site</th>
                <th>Country</th>
                <th>Buddy</th>
            </tr>
            {% for entry in logbook %}
            <tr id="{{ entry.id }}">
                <td>{{ entry.date }}</td>
                <td>{{ entry.town }}</td>
                <td>{{ entry.country }}</td>
                <td>{{ entry.buddy }}</td>
                <td><button class="delButton"><i></i></button></td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>

{% endblock%}

{% block script %}
<script src={{api}} defer></script>
<script src="{% static 'logbook/script.js' %}"></script>
{% endblock %}