{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'logbook/styles.css' %}">
    </head>
    <body>
      {% if request.path != "/" %}
      <!-- navbar -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-transparent text-white">
          <a class="navbar-brand" href="{% url 'index' %}">CoolDiveSite</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              {% if user.is_authenticated %}
                {% if request.path == "/log" %}
                <li class="nav-item active">
                {% else %}
                <li class="nav-item">
                {% endif %}
                  <a class="nav-link" href="{% url 'log' %}"> Logbook <span class="sr-only">(current)</span></a>
                </li>
                {% if request.path == "/add" %}
                <li class="nav-item active">
                {% else %}
                <li class="nav-item">
                {% endif %}
                  <a class="nav-link" href="{% url 'add' %}">Log Dives</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
              {% else %}
                {% if request.path == "/login" %}
                <li class="nav-item active">
                {% else %}
                <li class="nav-item">
                {% endif %}
                  <a class="nav-link" href="{% url 'login' %}">Log In</a>
                </li>
                {% if request.path == "/register" %}
                <li class="nav-item active">
                {% else %}
                <li class="nav-item">
                {% endif %}
                  <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
              {% endif %}
            </ul>
          </div>
        </nav>
        {% endif %}
            {% block body %}
            {% endblock %}
    </body>
    {% block script %}
    {% endblock %}
</html>