{% extends "logbook/layout.html" %}
{% load static %}

{% block title%}Logbook{% endblock %}

{% block body %}
    <div id="logmap">
    </div>

    <form method="POST" action="{% url 'log' %}">
    {% csrf_token %}
    <div>
        {% for entry in logbook %}
        <div id="{{ entry.id }}" class="entryDiv">
        {{ entry.date }}{{ entry.town }}{{ entry.country }}{{ entry.buddy }}
        <button>delete</button>
        </div>
        {% endfor %}
    </div>


{% endblock%}

{% block script %}
<script src={{api}} defer></script>
<script type="text/javascript" src="{% static 'logbook/script.js' %}"></script>
{% endblock %}