.entryDiv {
    border: 1px solid black;
}

#map, #logmap {
  height: 400px;
}

html,
body, #body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
  height: 10%;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#splash {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/splash.jpeg);
  background-size: cover;
  height: 100%;
}

#splash_title_container {
  color: white;
  position: relative;
  top: 70%;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.fadein {
  animation-name: fade_in;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes fade_in {
  0% {
    opacity: 0;
  }
  100% {
    top: 40%;
    opacity: 1;
  }
}

.appear {
  animation-name: appear;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.slideleft {
  animation-name: slideleft;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.slideright {
  animation-name: slideright;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes appear {
  100% {
    opacity: 1;
  }
}

@keyframes slideleft {
  50% {
    opacity: 0;
  }
  100% {
    left: 0%;
    opacity: 1
  }
}

@keyframes slideright {
  50% {
    opacity: 0;
  }
  100% {
    right: 0%;
    opacity: 1
  }
}

#splash_title {
  text-align: center;
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
}

.botuni {
  opacity: 0;
  border: 1px solid white;
  border-radius: 8px;
  display: inline-block;
  padding: 2px 5px;
  font-size: 1.25rem;
  margin: 0 4px;
}

.botuni:hover {
  background-color: white;
  color: rgb(33, 40, 56);
}

#splash_join {
  left: 10%;
  position: relative;
}

#splash_login {
  right: 10%;
  position: relative;
}

#splash_btns_container {
  display: none;
  justify-content: center;
}